parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - controllers
        - everblock.php
        - index.php
    stubFiles:
        - stubs/phpstan-prestashop.stub
    universalObjectCratesClasses:
        - Cookie
        - Controller
    bootstrapFiles:
        - vendor/autoload.php
        - stubs/phpstan-bootstrap.php
        - everblock.php
