services:
    _defaults:
        autowire: true
        autoconfigure: true

    Everblock\Tools\Controller\:
        resource: '../src/Controller'
        public: true
        tags: ['controller.service_arguments']

    Everblock\Tools\Form\:
        resource: '../src/Form'
        public: true

    Everblock\Tools\Service\Configuration\:
        resource: '../src/Service/Configuration'
        public: true

    everblock.tools.import:
        class: Everblock\Tools\Command\ImportFileCommand
        public: true
        tags:
            - { name: 'console.command' }

    everblock.tools.import_tab:
        class: Everblock\Tools\Command\ImportTabCommand
        public: true
        tags:
            - { name: 'console.command' }

    everblock.tools.export:
        class: Everblock\Tools\Command\ExportFileCommand
        public: true
        tags:
            - { name: 'console.command' }

    everblock.tools.execute_action:
        class: Everblock\Tools\Command\ExecuteAction
        public: true
        tags:
            - { name: 'console.command' }

    everblock.tools.prettyblocks:
        class: Everblock\Tools\Command\PrettyBlocksCommand
        public: true
        tags:
            - { name: 'console.command' }

    everblock.tools.search_replace:
        class: Everblock\Tools\Command\SearchReplaceCommand
        public: true
        tags:
            - { name: 'console.command' }

    everblock.tools.clean_games:
        class: Everblock\Tools\Command\CleanGameDataCommand
        public: true
        tags:
            - { name: 'console.command' }
